<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="template/include::top(~{::title},~{::link},~{})">
    <title>结算订单</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/top_search.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/orders_list.css}" />
</head>
<body>

<div class="site">
    <!--顶部-->
    <div th:include="template/include::header" class="header"></div>
    <div class="sub-site">
        <!--搜索-->
        <div th:include="template/include::search" class="search"></div>
        <!--内容主体-->
        <div class="content">
            <!--订单列表-->
            <div class="list">
                <!-- 选项卡菜单-->
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#bulletin" role="tab" data-toggle="tab">所有订单</a></li>
                    <li><a href="#rule" role="tab" data-toggle="tab">待付款</a></li>
                    <li><a href="#forum" role="tab" data-toggle="tab">待评价</a></li>
                </ul>
                <!-- 选项卡面板 -->
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active" id="bulletin">
                        <table class="common_table">
                            <thead>
                            <tr>
                                <td width="10" class="first_col" >宝贝</td>
                                <td width="50" class="second_col">描述</td>
                                <td width="10" class="third_col">单价</td>
                                <td width="10" class="four_col">数量</td>
                                <td width="10" class="five_col">总价</td>
                                <td width="10" class="six_col">操作</td>
                            </tr>
                            </thead>
                        </table>
                        <table class="common_table" th:each="p : ${all}">
                            <thead>
                                <tr>
                                    <td class="first_col" th:text="${'订单号' + p.getOrders().getNumber()}"></td>
                                    <td class="second_col"></td>
                                    <td class="third_col"></td>
                                    <td class="four_col"></td>
                                    <td class="five_col"></td>
                                    <td class="six_col">
                                        <a th:if="${p.getOrders().getStatus() == 1}" th:href="${'/orders/' + p.getOrders().getOrdersId()}" class="btn btn-primary">付款</a>
                                        <a th:href="${'/ordersDel/' + p.getOrders().getOrdersId()}" class="btn btn-danger">删除</a>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="o : ${p.getItem()}">
                                    <td class="first_col">
                                        <div class="table_img">
                                            <img th:src="${o.getGoods().getCover()}" />
                                        </div>
                                    </td>
                                    <td class="second_col">
                                        <span th:text="${o.getGoods().getName()}"></span>
                                    </td>
                                    <td class="third_col" th:text="${'￥' + o.getPrice()}"></td>
                                    <td class="four_col" th:text="${o.getNum()}"></td>
                                    <td class="five_col" th:text="${'￥' + o.getPrice() * o.getNum()}"></td>
                                    <td class="six_col"><a th:if="${o.getStatus() == 2}" th:href="${'/goodsComment/' + o.getItemId()}" class="btn btn-primary">评价</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane " id="rule">
                        <table class="common_table">
                            <thead>
                            <tr>
                                <td width="10" class="first_col" >宝贝</td>
                                <td width="50" class="second_col">描述</td>
                                <td width="10" class="third_col">单价</td>
                                <td width="10" class="four_col">数量</td>
                                <td width="10" class="five_col">总价</td>
                                <td width="10" class="six_col">操作</td>
                            </tr>
                            </thead>
                        </table>
                        <table class="common_table" th:each="p : ${unpay}">
                            <thead>
                            <tr>
                                <td class="first_col" th:text="${'订单号' + p.getOrders().getNumber()}"></td>
                                <td class="second_col"></td>
                                <td class="third_col"></td>
                                <td class="four_col"></td>
                                <td class="five_col"></td>
                                <td class="six_col">
                                    <a th:if="${p.getOrders().getStatus() == 1}" th:href="${'/orders/' + p.getOrders().getOrdersId()}" class="btn btn-primary">付款</a>
                                    <a th:href="${'/ordersDel/' + p.getOrders().getOrdersId()}" class="btn btn-danger">删除</a>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="o : ${p.getItem()}">
                                <td class="first_col">
                                    <div class="table_img">
                                        <img th:src="${o.getGoods().getCover()}" />
                                    </div>
                                </td>
                                <td class="second_col">
                                    <span th:text="${o.getGoods().getName()}"></span>
                                </td>
                                <td class="third_col" th:text="${'￥' + o.getPrice()}"></td>
                                <td class="four_col" th:text="${o.getNum()}"></td>
                                <td class="five_col" th:text="${'￥' + o.getPrice() * o.getNum()}"></td>
                                <td class="six_col"><a th:if="${o.getStatus() == 2}" th:href="${'/goodsComment/' + o.getItemId()}" class="btn btn-primary">评价</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane " id="forum">
                        <table class="common_table">
                            <thead>
                            <tr>
                                <td width="10" class="first_col" >宝贝</td>
                                <td width="50" class="second_col">描述</td>
                                <td width="10" class="third_col">单价</td>
                                <td width="10" class="four_col">数量</td>
                                <td width="10" class="five_col">总价</td>
                                <td width="10" class="six_col">操作</td>
                            </tr>
                            </thead>
                        </table>
                        <table class="common_table" th:each="p : ${uncomment}">
                            <thead>
                            <tr>
                                <td class="first_col" th:text="${'订单号' + p.getOrders().getNumber()}"></td>
                                <td class="second_col"></td>
                                <td class="third_col"></td>
                                <td class="four_col"></td>
                                <td class="five_col"></td>
                                <td class="six_col">
                                    <a th:if="${p.getOrders().getStatus() == 1}" th:href="${'/orders/' + p.getOrders().getOrdersId()}" class="btn btn-primary">付款</a>
                                    <a th:href="${'/ordersDel/' + p.getOrders().getOrdersId()}" class="btn btn-danger">删除</a>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="o : ${p.getItem()}">
                                <td class="first_col">
                                    <div class="table_img">
                                        <img th:src="${o.getGoods().getCover()}" />
                                    </div>
                                </td>
                                <td class="second_col">
                                    <span th:text="${o.getGoods().getName()}"></span>
                                </td>
                                <td class="third_col" th:text="${'￥' + o.getPrice()}"></td>
                                <td class="four_col" th:text="${o.getNum()}"></td>
                                <td class="five_col" th:text="${'￥' + o.getPrice() * o.getNum()}"></td>
                                <td class="six_col"><a th:if="${o.getStatus() == 2}" th:href="${'/goodsComment/' + o.getItemId()}" class="btn btn-primary">评价</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部-->
    <div th:replace="template/include::footer"></div>
</div>
<script>

</script>
</body>
</html>