<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="template/include::top(~{::title},~{::link},~{})">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/index.css}" />
</head>
<body>

<div class="site">
    <!--顶部-->
    <div th:include="template/include::header" class="header"></div>
    <div class="sub-site">
        <!--搜索-->
        <div th:include="template/include::search" class="search"></div>
        <!--banner-->
        <div class="banner">
            <div class="cate">
                <ul class="float_ul">
                    <li th:each="c : ${cates}">
                        <i th:class="${c.getCls()}"></i><a th:href="@{/search(cateId=${c.getCateId()})}" th:text="${c.getName()}"></a>
                    </li>
                </ul>
            </div>
            <div id="myCarousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->

                <div class="carousel-inner">
                    <a th:href="${b.getUrl()}" th:class="!${status.index}?'item active':'item'" th:each="b,status : ${banners}">
                        <div>
                            <img th:src="${b.getImg()}" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--内容主体-->
        <div class="content container">
            <div class="good_list" th:each="g : ${goodsIndexs}">
                <div class="good_cate" th:text="${g.getCate().getName()}"></div>
                <div class="goods row">
                    <a th:href="@{'/goods/' + ${o.getGoodsId()}}" th:each="o : ${g.getGoods()}">
                        <div class="good col-lg-2 col-md-2">
                            <div class="good_inner">
                                <div class="good_img"><img th:src="${o.getCover()}" /></div>
                                <div class="good_title" th:text="${o.getName()}"></div>
                                <div class="good_price" th:text="'￥' + ${o.getPrice()}"></div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!--底部-->
    <div th:replace="template/include::footer"></div>
</div>
</body>
</html>