<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="template/include::top(~{::title},~{::link},~{})">
    <title>搜索结果</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/index.css}" />
</head>
<body>

<div class="site">
    <!--顶部-->
    <div th:include="template/include::header" class="header"></div>
    <div class="sub-site">
        <!--搜索-->
        <div th:include="template/include::search" class="search"></div>
        <!--内容主体-->
        <div class="content container">
            <div class="goods row">
                <a th:href="@{'/goods/' + ${s.getGoodsId()}}" th:each="s : ${search.getContent()}">
                    <div class="good col-lg-2 col-md-2">
                        <div class="good_inner">
                            <div class="good_img"><img th:src="${s.getCover()}" /></div>
                            <div class="good_title" th:text="${s.getName()}"></div>
                            <div class="good_price" th:text="'￥' + ${s.getPrice()}"></div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="clear"></div>
            <nav aria-label="Page navigation" style="text-align: center">
                <ul class="pagination">
                    <li>
                        <a th:href="@{/search}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!--底部-->
    <div th:replace="template/include::footer"></div>
</div>
</body>
</html>