<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyu.tmall.mapper.ItemMapper">
    <select id="getOne" resultType="Item">
            SELECT * FROM item WHERE item_id = #{itemId};
    </select>
    <select id="count" resultType="Integer">
        SELECT count(*) FROM item
        <where>
            <if test="ordersId!=0">
                orders_id = #{ordersId}
            </if>
            <if test="status!=0">
                status = #{status}
            </if>
        </where>
    </select>
    <update id="update" parameterType="Item">
        UPDATE item
        <set>
            status = #{status}
        </set>
        <where>
            <if test="itemId!=0">
                item_id = #{itemId}
            </if>
            <if test="ordersId!=0">
                orders_id = #{ordersId}
            </if>
        </where>
    </update>
    <insert id="insert">
        INSERT INTO item(orders_id,goods_id,user_id,num,price,create_time)
         VALUES(#{ordersId}, #{goodsId}, #{userId}, #{num}, #{price}, #{createTime});
    </insert>
    <select id="getSearch" resultType="Item">
        SELECT * FROM item
        <where>
            <if test="ordersIds!=null">
                and orders_id in
                <foreach collection="ordersIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>