<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyu.tmall.mapper.SysPermissionRoleMapper">
    <select id="getByRoleIds" resultType="SysPermissionRole">
        SELECT * FROM sys_permission_role
        <where>
            <if test="roleIds!=null">
                AND role_id in
                <foreach item="item" index="index" collection="roleIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>