<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="template/include::top(~{::title},~{::link},~{})">
    <title>立即登陆</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/login.css}" />
</head>
<body>

<div class="site">
    <div class="sub-site">
        <div class="top_pic"><div class="real_logo"><a th:href="@{/}"><img th:src="@{/static/img/logo.png}" /></a></div></div>
        <div class="inner_box">
            <div class="middle_box">
                <div class="left_pic"><img th:src="@{/static/img/login.png}" /></div>
                <form class="right_box" action="/login" method="post">
                    <ul>
                        <li><h4>立即登陆</h4></li>
                        <li>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="text" class="form-control" name="username" placeholder="请输入用户名" aria-describedby="basic-addon2">
                            </div>
                        </li>
                        <li>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon3"><span class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" class="form-control" name="password" placeholder="请输入密码" aria-describedby="basic-addon3">
                            </div>
                        </li>
                        <li><input type="submit" class="btn btn-primary" value="立即登陆" /></li>
                        <li><span th:text="${message}"></span></li>
                        <li><span><a th:href="@{/register}">立即注册</a></span></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <!--底部-->
    <div th:replace="template/include::footer"></div>
</div>
<script>
    $(function () {
        $('#submitBtn').on('click', function(){
            var AjaxURL= "/cart";
            $.ajax({
                type: "POST",
                url: AjaxURL,
                data: $('#submitForm').serialize(),
                success: function (data) {
                    alert(data.msg);
                },
                error: function(data) {
                    alert(data.msg);
                }
            });
        });
    })
</script>
</body>
</html>